
<!-- views/shared/lists/components/_list_card -->
<%= render "/shared/banner" %>

<div class="container">

<h2 class="mt-3 text-align-center">Lists</h2>


<!-- views/lists/components/_form.html.erb -->
<%= render "lists/components/form", list: @list%>

<hr>

<!-- views/lists/components/_list_card_html.erb -->
<%= render "lists/components/list_card" %>

</div>

