
<!-- views/shared/lists/_list_card -->
<%= render "/shared/banner" %>

<div class="container">

<h2 class="mt-3 text-align-center">Lists</h2>

<%= render "form", list: @list%>

<hr>

<!-- views/lists/_list_card_html.erb -->
<%= render "list_card" %>


</div>
