
<%= render "lists/components/banner" %>


<div class="container">
<div class="row justify-content-center">
<h2>Add the name of your list</h2>
</div>
<div class="row justify-content-center">
<div class="col-6">

<%= render "lists/components/form", list: @list %>
</div>
</div>
</div>
