  <form class="form-inline my-2 my-lg-0" action="/lists/search" method="get">
      <input class="form-control mr-sm-2 round-search" value="<%= params[:name]%>" type="search" name="name" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success btn-red my-2 my-sm-0" type="submit">Search</button>
    </form>
