<!-- On about.html.erb -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,1)) , url(https://images.unsplash.com/photo-1585951237318-9ea5e175b891?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80);">
  <div class="container">
    <h1>Movie List</h1>
    <p>The only place to list movies</p>
  </div>
</div>
