#new_bookmark * {
  background: black;
  color: white;
}

#new_list {
  display: flex;
  align-items: start;
}

#new_list * {
  background: black;


}



#new_list > input {
  color:red;
  margin-left: 8px;
}
